<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="registration">
      <div class="heading">Registration</div>
      <div class="main-image">
        <img src="{% static 'images/reg-image.jpg' %}" alt="music imge" />
      </div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="fname">
          <label for="first-name">First Name:</label><br />
          <input
            type="text"
            name="first-name"
            id="first-name"
            placeholder="ex: John"
          />
        </div>
        <div class="lname">
          <label for="last-name">Last Name:</label><br />
          <input
            type="text"
            name="last-name"
            id="last-name"
            placeholder="ex: White"
          />
        </div>
        <div class="email">
          <label for="email">Your Email:</label><br />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="example@email.com"
          />
        </div>
        <div class="birth-day">
          <label for="dob">Date Of Birth</label><br />
          <input type="date" name="dob" id="dob" required />
        </div>
        <div class="password">
          <label for="password1">Password:</label><br />
          <input type="password" name="password1" id="password1" />
        </div>
        <div class="cpassword">
          <label for="password2">Confirm Password:</label><br />
          <input type="password" name="password2" id="password2" />
        </div>
        <div class="agreement">
          <input type="checkbox" name="agreement" id="agreement" required />
          <label for="agreement"
            >I accept the <a href="/">terms and condition</a></label
          >
        </div>
        <div class="regi-btn">
          <input type="submit" value="Register" />
        </div>
      </form>
    </div>
  </body>
</html>
